@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Ysabeau:wght@600&display=swap");
/*font-family: 'Ysabeau', sans-serif; parrafos
font-family: 'Poppins', sans-serif;  Titulos */
* {
  padding: 0%;
  margin: 0%;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #191919;
}

h1 {
  text-align: center;
  color: #eeeeee;
  font-size: 33px;
  padding-top: 60px;
  margin-bottom: 0%;
}

.h1-fondo {
  background-color: #f86b00;
  border: solid 2px #191919;
}

p {
  color: #eeeeee;
  font-family: "Ysabeau", sans-serif;
}

h2 {
  color: #eeeeee;
}

h3 {
  color: #eeeeee;
}

.menu-navegacion {
  background-color: #a62b2b;
  padding: 5px;
  font-size: 20px;
}

/* footer*/
.instagram {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-bottom: 30px;
}
.instagram a {
  color: #eeeeee;
  font-size: 20px;
  transition: 0.3s;
}
.instagram a:hover {
  font-size: 30px;
}

.whatsapp {
  position: fixed;
  bottom: 30px;
  left: 15px;
  z-index: 1;
}
.whatsapp a {
  color: #03cd03;
  font-size: 25px;
  transition: 0.3s;
}
.whatsapp a:hover {
  font-size: 35px;
}

/*imagen del inicio,         INICIO*/
.index {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 300px);
  grid-template-areas: "area1 area1 area1 area1" "area1 area1 area1 area1" "area2 area2 area3 area3" "area2 area2 area3 area3" "area4 area4 area4 area4" "area5 area5 area5 area5";
  gap: 15px;
}
.index__hijo {
  display: flex;
}
.index__hijo.i1 {
  grid-area: area1;
}
.index__hijo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.index__hijo.i2, .index__hijo.i3 {
  grid-area: area2;
  justify-content: space-between;
  flex-direction: column-reverse;
  border: solid 1px rgba(238, 238, 238, 0.9333333333);
}
.index__hijo.i2 img, .index__hijo.i3 img {
  width: 100%;
  height: 520px;
  object-fit: cover;
}
.index__hijo.i3 {
  grid-area: area3;
}
.index__hijo .cars-index {
  text-align: center;
}
.index__hijo .cars-index p {
  font-size: 20px;
}
.index__hijo .cars-index a {
  text-decoration: none;
}
.index__hijo .cars-index h2:hover {
  font-weight: bold;
}
.index__hijo.i4 {
  grid-area: area4;
  overflow: hidden;
  transition: 0.6s;
}
.index__hijo.i4 a {
  width: 100%;
  filter: blur(2px);
  transition: 0.6s;
}
.index__hijo.i4 a:hover {
  filter: blur(0px);
}
.index__hijo.i4:hover {
  border-radius: 200px;
}
.index__hijo.i5 {
  grid-area: area5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
  padding: 20px;
}
.index__hijo.i5 p {
  font-size: 20px;
}
.index__hijo.i5 a {
  color: #eeeeee;
  text-decoration: none;
}
.index__hijo.i5 a:hover {
  font-weight: bold;
}

/*   ALIMENTACIOPN*/
.img-alimentacion {
  height: 400px;
  padding-bottom: 10px;
}
.img-alimentacion img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-inner, .carousel-item, .carousel-item img {
  height: 425px;
  object-fit: cover;
}

.carousel-inner {
  border: 2px solid #f86b00;
}

.container p {
  font-size: 20px;
}

/* cards suplementos,      SUPLEMENTOS*/
.cards-suplementos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 5px;
}
.cards-suplementos .body-suplementos {
  width: 30%;
  border: solid 2px #f86b00;
  box-shadow: 4px 4px 10px 0px #f86b00;
}
.cards-suplementos .body-suplementos img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
.cards-suplementos .body-suplementos h2 {
  font-weight: bold;
  font-size: 28px;
}
.cards-suplementos .body-suplementos h2, .cards-suplementos .body-suplementos p {
  text-align: center;
  padding: 5px;
}

/* datos de contacto*/
.fitness {
  color: transparent;
  background-image: linear-gradient(45deg, #eeeeee, #a62b2b);
  font-size: 80px;
  padding-top: 3%;
  background-clip: text;
  -webkit-background-clip: text;
  transition: 1s;
}
.fitness:hover {
  background-image: linear-gradient(45deg, #ff0000, #eeeeee);
}

.datos {
  color: #eeeeee;
}

/**imagen principal de rutina,   RUTINA*/
.img-rutina {
  width: 100%;
  height: 600px;
  overflow: hidden;
  position: relative;
}
.img-rutina-principal {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  animation: rutinas 12s infinite;
}
.img-rutina-principal:nth-child(1) {
  animation-delay: 0;
}
.img-rutina-principal:nth-child(2) {
  animation-delay: 4s;
}
.img-rutina-principal:nth-child(3) {
  animation-delay: 8s;
}
.img-rutina-principal img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@keyframes rutinas {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
}

.videos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 0;
}
.videos2 {
  padding: 30px;
  display: flex;
  flex-direction: column;
}
.videos2 h2 {
  text-align: center;
}
.videos2 iframe {
  border: 3px solid #f86b00;
  width: 500px;
  height: 300px;
}

.motivacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowarp;
  gap: 10px;
  padding: 20px;
}
.motivacion h3 {
  font-size: 33px;
}
.motivacion p {
  font-size: 20px;
}

.mapa {
  padding: 30px;
}
.mapa h2 {
  font-size: 20px;
}
.mapa iframe {
  width: 200px;
  height: 200px;
  border-radius: 30%;
}

@media only screen and (max-width: 1139px) {
  .videos2 iframe {
    width: 420px;
  }
}
@media only screen and (max-width: 1100px) {
  /*   SUPLEMENTOS*/
  .cards-suplementos {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .cards-suplementos .body-suplementos {
    width: 100%;
    height: 600px;
  }
  .cards-suplementos .body-suplementos img {
    height: 450px;
  }
}
@media only screen and (max-width: 977px) {
  .img-rutina {
    height: 500px;
  }
  .videos2 iframe {
    width: 380px;
  }
}
@media only screen and (max-width: 907px) {
  .index {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 300px);
    grid-template-areas: "area1 area1 area1 area1" "area2 area2 area3 area3" "area2 area2 area3 area3" "area4 area4 area4 area4" "area5 area5 area5 area5";
    gap: 15px;
  }
  h1, h3 {
    font-size: 30px;
  }
  .videos2 iframe {
    width: 590px;
  }
}
@media only screen and (max-width: 603px) {
  h1, h2 {
    font-size: 28px;
  }
  .cards-suplementos .body-suplementos {
    height: 560px;
  }
  .cards-suplementos .body-suplementos img {
    height: 400px;
  }
  .img-rutina {
    height: 400px;
  }
  .videos2 iframe {
    width: 500px;
  }
  .motivacion h3 {
    font-size: 28px;
  }
}
@media only screen and (max-width: 580px) {
  h1, h2 {
    font-size: 25px;
  }
  .index {
    display: flex;
    flex-direction: column;
  }
  .motivacion h3 {
    font-size: 25px;
  }
  .motivacion p {
    font-size: 20px;
  }
  /*   ALIMENTACIOPN*/
  .img-alimentacion {
    height: 300px;
  }
  .container p {
    font-size: 20px;
  }
  .carousel-inner, .carousel-item, .carousel-item img {
    height: 400px;
  }
}
@media only screen and (max-width: 520px) {
  .img-rutina {
    height: 350px;
  }
  .videos2 iframe {
    width: 460px;
  }
}
@media only screen and (max-width: 480px) {
  h1, h2 {
    font-size: 20px;
  }
  .index__hijo img {
    height: 280px;
  }
  .index__hijo img p {
    font-size: 15px;
  }
  /*   ALIMENTACIOPN*/
  .img-alimentacion {
    height: 250px;
  }
  .container p {
    font-size: 15px;
  }
  .carousel-inner, .carousel-item, .carousel-item img {
    height: 300px;
  }
  /*   SUPLEMENTOS*/
  .cards-suplementos .body-suplementos {
    height: 550px;
  }
  .cards-suplementos .body-suplementos img {
    height: 350px;
  }
  .cards-suplementos .body-suplementos h2 {
    font-size: 20px;
  }
  .cards-suplementos .body-suplementos h2, .cards-suplementos .body-suplementos p {
    padding: 0%;
  }
  .img-rutina {
    height: 300px;
  }
  .videos2 iframe {
    width: 350px;
  }
  .motivacion h3 {
    font-size: 20px;
  }
  .motivacion p {
    font-size: 15px;
  }
}

/*# sourceMappingURL=style.css.map */
