
@media only screen and (max-width: 1139px){
    .videos2{
        iframe{
            width: 420px;
        }                         
}
}
@media only screen and (max-width: 1100px){
                                /*   SUPLEMENTOS*/
    .cards-suplementos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    .body-suplementos{
        width: 100%;
        height: 600px;
        img{
            height: 450px;
        }
    }
}
}
@media only screen and (max-width: 977px){
    .img-rutina{
        height: 500px;
    }

    .videos2{
        iframe{
            width: 380px;
        }                         
}
}
@media only screen and (max-width: 907px){
.index{
    display: grid;
    grid-template-columns: repeat( 4, 1fr);
    grid-template-rows: repeat(5, 300px);
    grid-template-areas: 
    "area1 area1 area1 area1"
    "area2 area2 area3 area3"
    "area2 area2 area3 area3" 
    "area4 area4 area4 area4"
    "area5 area5 area5 area5";
    gap:  15px;
}
                    //rutina
    h1, h3{
    font-size: 30px;
    }
.videos2{
    iframe{
        width: 590px;
    }
}
}

@media only screen and (max-width: 603px){
    h1, h2{
    font-size: 28px;
    }
    .cards-suplementos{

        .body-suplementos{
            height: 560px;
            img{
                height: 400px;
            }

        }
    }
                    //rutina
    .img-rutina{
        height: 400px;
    }
    .videos2{
        iframe{
            width: 500px;
        }
    }
    .motivacion h3{
    font-size: 28px;
    }
}
@media only screen and (max-width: 580px){
    h1, h2 {
        font-size: 25px;
    }
    .index{
    display: flex;
    flex-direction: column;
    }
                        //rutina
    .mapa{
        @include flex2
    }
    .motivacion{
        h3{
    font-size: 25px;
    }
    p{
        font-size: 20px;
    }
    }
                        /*   ALIMENTACIOPN*/
    .img-alimentacion{
        height: 300px;
    }
    .container p{
    font-size: 20px;
    }
    .carousel-inner, .carousel-item, .carousel-item img {
        height: 400px;
    }
}
@media only screen and (max-width: 520px){
    .img-rutina{
        height: 350px;
    }
    .videos2{
        iframe{
            width: 460px;
        }
    }

}
@media only screen and ( max-width: 480px){
    h1,  h2{
        font-size: 20px;
    }
    .index__hijo img{
    height: 280px;
    p{
        font-size: 15px;
        }
    }
                            /*   ALIMENTACIOPN*/
    .img-alimentacion{
        height: 250px;
    }
    .container p{
        font-size: 15px;
        }
        .carousel-inner, .carousel-item, .carousel-item img {
            height: 300px;
        }
                            /*   SUPLEMENTOS*/
    .cards-suplementos{
        .body-suplementos{
            height: 520px;
            img{
                height: 350px;
            }
            h2{
                font-size: 20px;
            }
            h2{
            padding-top: 10px;
            }
        }
    }
                //rutina
    .img-rutina{
        height: 300px;
    }
    .videos2{
        iframe{
            width: 350px;
        }
    }
    .motivacion{
        h3{
        font-size: 20px;
        }
        p{
            font-size: 15px;
        }
        }
}
