                    /* footer*/
.instagram{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-bottom: 30px;
        a{
            color: $text-color;
            font-size: 20px;
            transition: .3s;
            &:hover{
                font-size: 30px;
            }
    }
}
.whatsapp{
    position: fixed;
    bottom: 30px;
    left: 15px;
    z-index: 1;
        a{
            color: #03cd03;
            font-size: 25px;
            transition: .3s;
            &:hover{
                font-size: 35px;
            }
    }
}
