@mixin flex2{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
@mixin flex($direction,$justify,$align,$warp,$gap){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $warp;
    gap: $gap;
}


@mixin img ($width,$height,$object){
    width: $width;
    height: $height;
    object-fit: $object;
}
