@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Ysabeau:wght@600&display=swap');
/*font-family: 'Ysabeau', sans-serif; parrafos
font-family: 'Poppins', sans-serif;  Titulos */

//colores de letras y fondos 
$main-color: #191919 ;
$nav-color: #a62b2b;
$text-color:#eeeeee;
$border-color: #f86b00;

//fuentes
$font: 'Poppins', sans-serif;
$font-parrafo: 'Ysabeau', sans-serif;